.call {
    position: relative;
    width: 90%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.call:hover .image {
    opacity: 0.3;
}

.call:hover .middle {
    opacity: 1;
}

/* .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} */

* {
    box-sizing: border-box;
}

.over_img {
    position: relative;
    width: 100%;
    max-width: 442px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(1, 230, 210);
    background: rgba(0, 255, 242, 0.5);
    color: #f1f1f1;
    width: 95%;
    transition: .5s ease;
    opacity: 0;
    top: 19px;
    bottom: 15px;
    right: 19px;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.over_img:hover .overlay {
    opacity: 1;
}

.sp {
    font-size: 24px;
    top: 0;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav>.owl-prev {
    background-color: aqua;
}

.owl-nav .owl-next {
    background-color: aquamarine;
}

.owl-nav button.owl-prev {
    left: 0;
    width: 3%;
    margin: auto;
    height: 58px;

}
h4{
    font-size: 34px;
}
.owl-nav {
    width: 22%;
    margin: auto;
    text-align: center;
}

.owl-nav button.owl-next {
    right: 0;
    margin: auto;
width: 3%;
height: 58px;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
    padding:50px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: rgb(11, 254, 194);
    margin: 0 3px;
    border-radius: 50%;
}

.owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}


.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

span {
    font-size: 70px;
    position: relative;
    top: -27px;

}
.img_size{
    
    width: 12rem !important;
    display: block;
}
.owl-nav button:focus {
    outline: none;
}

#sli1 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 41%;
    height: 7px;
    outline: none;
    background-color: yellow;
    margin: auto;
}

#sli2 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 41%;
    height: 7px;
    outline: none;
    background-color: palevioletred;
}

#sli3 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 41%;
    height: 7px;
    outline: none;
    background-color: greenyellow;
}

#sli4 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 41%;
    height: 7px;
    outline: none;
    background-color: #179b9b;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none;
    height: 508px;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    /* max-width: 1284px; */
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top: -75px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.par {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .18em;
    text-align: center;
    padding-top: 30px;
}

.al {
    text-decoration: none;
}

.brand {
    text-align: center;
}

.brand .image {
    width: 50px;
}

.p1:hover,
.p2:hover {
    opacity: .3;
    cursor: pointer;
}

h4 {
    color: grey;
    font-size: 24px;
    font-weight: 400;
}

#portfolio p {
    color: grey;
    font-size: 12px;
    font-weight: 200;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

.single-content img {
    width: 290px;
    height: 100%;
    margin: 10px;
}

.filters {
    width: 100%;
    text-align: center;
}

.un {
    list-style: none;
    padding: 20px 0;
}

.le {
    display: inline;
    padding: 11px 11px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.le:hover {
    color: #a6a6a6;
}

.le.active {
    color:white;
    border: 1px solid #ccc;
    border-radius: 15px;
    background:#636363;
}

.ho1:hover .first-page {
    display: block;
}

.first-page {
    display: none;
    width: 11%;
    top: 50px;
    z-index: 99;
}

.ho2:hover .second-page {
    display: block;
}

.second-page {
    display: none;
    width: 200px;
    top: 50px;
    z-index: 99;
}

body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slides1 {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev1, .next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev1, .next1,.text {font-size: 11px}
}
.range-slider {
    width: 300px;
    text-align: center;
    position: relative;
  }
  .range-slider .rangeValues {
    display: block;
  }
  
  input[type=range] {
    -webkit-appearance: none;
    border: 1px solid rgb(0, 184, 181);
    background-color: rgb(0, 255, 251);
    width: 247px;
    border-radius:50px;
    position: absolute;
    left: 0;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 50px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
    margin-top: -4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }
  
  input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }
  
  input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
  }
  
  /*hide the outline behind the border*/
  input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
  }
  
  input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
    z-index: -4;
  }
  
  input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
  }
  
  input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
  }
  
  input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #21c1ff;
  }
  
  input[type=range]:focus::-ms-fill-lower {
    background: #888;
  }
  
  input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
  }
  .cont {
    position: relative;
    /* width: 50%; */
    /* max-width: 300px; */
}

.ice {
    display: block;
    width: 100%;
    height: auto;
}

.lay {
    position: absolute;
    bottom: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    /* width: 100%; */
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 80px 98px 104px 81px;
    text-align: center;
}

.cont:hover .lay {
    opacity: 1;
}

        .animated-progress {
            width: 300px;
            height: 18px;
            border-radius: 16px;
            margin: 20px 10px;
            border: 1px solid rgb(189, 113, 113);
            /* overflow: hidden; */
            position: relative;
        }

        .animated-progress span {
            height: 17px;
            display: block;
            width: 0;
            color: rgb(255, 251, 251);
            line-height: 18px;
            position: absolute;
            text-align: end;
            font-size: x-small;
            padding-right: 5px;
            top:0;
            border-radius: 10px;
        }

        .progress-blue span {
            background-color: blue;
        }

        .progress-green span {
            background-color: green;
        }

        .progress-purple span {
            background-color: indigo;
        }

        .progress-red span {
            background-color: red;
        }
/* order slider */
