.call {
    position: relative;
    width: 90%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.call:hover .image {
    opacity: 0.3;
}

.call:hover .middle {
    opacity: 1;
}

/* .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} */
* {
    box-sizing: border-box;
}

.over_img {
    position: relative;
    width: 100%;
    max-width: 442px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(1, 230, 210);
    background: rgba(0, 255, 242, 0.5);
    color: #f1f1f1;
    width: 88%;
    transition: .5s ease;
    opacity: 0;
    top: 19px;
    bottom: 15px;
    right: 19px;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.over_img:hover .overlay {
    opacity: 1;
}

.sp {
    font-size: 24px;
    top: 0;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav>.owl-prev {
    background-color: aqua;
}

.owl-nav .owl-next {
    background-color: aquamarine;
}

.owl-nav button.owl-prev {
    left: 0;
    width: 3%;
    margin: auto;

}

.owl-nav {
    width: 22%;
    margin: auto;
    text-align: center;
}

.owl-nav button.owl-next {
    right: 0;
    margin: auto;

}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
    border-radius: 50%;
}

.owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

span {
    font-size: 70px;
    position: relative;
    top: -11px;

}

.owl-nav button:focus {
    outline: none;
}

#sli1 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 68%;
    height: 7px;
    outline: none;
    background-color: yellow;
}

#sli2 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 68%;
    height: 7px;
    outline: none;
    background-color: palevioletred;
}

#sli3 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 68%;
    height: 7px;
    outline: none;
    background-color: greenyellow;
}

#sli4 {
    -webkit-appearance: none;
    border-radius: 3px;
    width: 68%;
    height: 7px;
    outline: none;
    background-color: #179b9b;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1284px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}